[defaults]
# Ścieżka do ról
roles_path = ./roles

# Domyślny inwentarz (opcjonalny)
inventory = ./inventories

# Wyłącz weryfikację klucza SSH dla Docker
host_key_checking = False

# Kolorowe wyświetlanie
force_color = True

# Nie twórz plików .retry
retry_files_enabled = False

# Lepsze wyświetlanie wyników (Ansible 2.13+)
stdout_callback = default
result_format = yaml
