[defaults]
# Chemin vers les rôles
roles_path = ./roles

# Inventaire par défaut (optionnel)
inventory = ./inventories

# Désactiver la vérification de la clé SSH pour Docker
host_key_checking = False

# Affichage coloré
force_color = True

# Ne pas créer de fichiers .retry
retry_files_enabled = False

# Meilleur affichage des résultats (Ansible 2.13+)
stdout_callback = default
result_format = yaml
